<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RecipeNotes.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RecipeNotesWatch Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>691C72462E55FEA70040208B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>691C72552E55FEA90040208B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>691C725F2E55FEA90040208B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6934F9F02F9E6EEC0099FB00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6934F9FC2F9E6EEE0099FB00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6934FA062F9E6EEE0099FB00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
